.container{

    padding: 20px 10px;
    margin-inline: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.textV{

    background-color: rgb(205, 172, 132);
    padding: 30px 20px;
    border-radius: 10px;

}

span{

    transition: 0.3s ease-in-out;

}

span:hover{

    word-spacing: 2px;
    letter-spacing: 1px;
    transform: scale(2);

}